@model BlogCardResponse
<div class="fh5co-blog animate-box">
    <div class="title text-center">
        <span class="posted-on">@DateHelper.ToStringFormat(Model.CreatedAt)</span>
        <h3>
        <a asp-action="BlogDetail" asp-controller="Blogs" asp-route-url="@Model.Url">@Model.Title</a>
        </h3>
        <span class="category"></span>
    </div>
    <a asp-action="BlogDetail" asp-controller="Blogs" asp-route-url="@Model.Url">
        <img class="img-responsive" src="~/@Model.Image" alt="">
    </a>
    <div class="blog-text text-center">
        <p>@StringHelper.RemoveHtml(Model.Body)</p>
        <div class="mb-60"></div>
        <a onclick="save(this)" class="bookmark-save" data-id="@Model.Id">
            <img src="~/@Model.BookmarkImage" alt="bookmark" />
        </a>
    </div>
</div>

<script>
    function save(element) {
        var saveButton = element;
        var id = saveButton.getAttribute("data-id");
        var createSaveBlogRequest = {
            blogId: id
        };
        $.ajax({
            url: '/save-blog',
            type: 'POST',
            data: createSaveBlogRequest,
            success: function (response) {
                saveButton.childNodes[1].src = "/"+response.bookmarkImage;
                Toastify({
                    text: response.message,
                    duration: 3000,
                    destination: "https://github.com/apvarun/toastify-js",
                    newWindow: true,
                    close: true,
                    gravity: "top",
                    position: "left",
                    stopOnFocus: true,
                    style: {
                        background: "linear-gradient(to right, #83779b, #D3D3D3)",
                    }
                }).showToast();
            },
            error: function (err) {
                console.log('hata', err);
            }
        });
    }</script>